
.navbar-container{
    background-color: $black;
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    justify-content:space-between;
    -webkit-box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.75);
    
}

.navbar-container ul{
    display: flex;
    list-style: none;
    flex-flow: row wrap;
    margin: 0;
    overflow: hidden;
}

.navbar-container li{
    background-color: rgb(102, 102, 102);
    padding: 20px;
    clip-path: polygon(15% 0%, 100% 0%, 85% 100%, 0% 100%);
    letter-spacing: 0.1em;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    cursor:pointer;
    
}


.navbar-container li:hover{
    background-color: yellowgreen;
}


.navbar-container li:active{
    background-color: rgb(105, 141, 34);
  
  }

.first-in-nav{
    margin-right: 0px;
    margin-right: -200px;

}

li.second-in-nav {
    -webkit-clip-path: polygon(15% 0, 72% 0, 72% 100%, 0% 100%);
    clip-path: polygon(15% 0, 72% 0, 72% 100%, 0% 100%);
    margin-right: -160px;
}


.navbar-container a{
    padding-right: 100px;
    margin-right: 70px;
    padding-left: 50px;
    text-decoration: none; 
    font-size: 30px;
    color: white;
}


.navbar-container a:visited{
    color: white;
    text-decoration: none;
}

.title{
    color: white;
    text-decoration: none;
    margin-top: auto;
    margin-bottom: auto;
}